@import "../../scss/variable";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Full height of the viewport */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: $BG_LIGHT;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
