@import "../../scss/variable";
.suppliesContainer {
  padding: 20px;
  width: 100%;
  overflow-x: hidden;
  .dropdown-label {
    color: $WHITE;
    margin-bottom: 10px;
  }
}

.table-header {
  color: #fff;
}
