@import "./scss/variable";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $BG_PRIMARY;
}
.main {
  margin-left: 250px;
  width: calc(100vw - 250px);
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
 
}
@media (max-width: 991px) {
  .main {
    margin-left: 0 !important;
    width: 100% !important;
    overflow-x: hidden;
  }
}
